@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>@Resources.About.ParagraphOne</p>

<br/>

<p>@Resources.About.ParagraphTwo</p>

<br/>

<p>@Resources.About.ParagraphThree</p>

<br/>

<p>@Resources.About.ParagraphFour</p>

<br/>

<p>@Resources.About.ParagraphFive</p>
