@model WebApplication1.Models.HomeModel

@{
    ViewBag.Title = Resources.Home.Title;
}

<div class="jumbotron">
    <h1>Canada Cuba Companions</h1>
    <p class="lead">@Resources.Home.Description</p>
    <p><a class="buy" href="@Url.Action("Register", "Account", (CultureInfo)null), new { plan = "basic_monthly" })">Sign up &raquo;</a></p>
    <img height="600" width="800" src="@Url.Content("~/Images/" + Model.HomePicture.Name)" style="display:block">

</div>

<div class="row">

    <center>
        <h2>@Resources.Home.HomeHeader</h2>
        <p>
            @Resources.Home.HomeMotto
        </p>
        <div background-color:orangered>
            <p>
                <a class="btn btn-default" href="@Url.Action("About", "Home", (CultureInfo)null)">@Resources.Home.About &raquo;</a>
                <a class="btn btn-default" href="@Url.Action("Packages", "Home", (CultureInfo)null)">@Resources.Home.Packages &raquo;</a>
                <a class="btn btn-default" href="@Url.Action("Reservations", "Home", (CultureInfo)null)">@Resources.Home.Reserve &raquo;</a>
            </p>
        </div>
    </center>
</div>